

<%#= javascript_include_tag "assets/vendors/js/vendor.bundle.base.js" %>
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <!-- partial -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-md-4 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">Transaction History</h4>
                <canvas id="transaction-history" class="transaction-chart"></canvas>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>

